__pycache__
.ipynb_checkpoints/__init__-checkpoint.py
.ipynb_checkpoints/building-checkpoint.py
.ipynb_checkpoints/constants-checkpoint.py
.ipynb_checkpoints/deaccuracy-checkpoint.py
shulepov/.ipynb_checkpoints
